{
  "twitter_authentication": {
    "consumer_key": null,
    "consumer_secret": null,
    "access_token": null,
    "access_token_secret": null
  },
  "tweepy": {
    "async": true,
    "wait_on_rate_limit": false
  },
  "storage": [
    {
      "type": "file",
      "options": {
        "file_path": "/root/data/tweets/", 
        "format": "csv"
      },
      "enabled": true
    },
    {
      "type": "hadoop",
      "options": {
      },
      "enabled": false
    },
    {
      "type": "kafka",
      "options": {
        "endpoint": {
          "bootstrap.servers": "s01",
          "socket.timeout.ms": 100,
          "request.timeout.ms": 1000,
          "client.id": "twitter-watchdog",
          "api.version.request": true,
          "enable.auto.commit": true,
          "debug": "protocol,security"
        },
        "topic": "offers"
      },
      "enabled": true
    }
  ],
  "languages": ["en"],
  "locality": null,
  "topics": ["shopping offers shoes", "shoe sale", "shoes sale"],
  "debug": true,
  "verbose": true
}
